<header class="header-container">
	<div class="wrap">
		<img src ="dist/img/marsbq_logo.png">
		<h1>marsbq	</h1>
	  	<p>join us for first intergalactic bbq</p>
	  	<h2>sat nov 5 2056</h2>

	  	<a class = "btn" href="#">Register to vote</a>
  	</div>
</header>