<section id="menu" class="menu-container">
	<div class="wrap">
		<h2 class="section-heading">Menu</h2>
		<p>Please vote for your fav menu item</p>

		<ul class="section-list">
			<!-- iterate over each item in menu -->
			{{#each menu}}
				<li data-id="{{id}}">
					<span class="menu-title">{{title}}</span>
					<span class="menu-count">{{count}}</span>
				</li>
			{{/each}}
		</ul>
	</div>
</section>